linuxdeploy-x86_64.AppImage
build/
parts/
prime/
snap/
stage/
DeerPortal
*.snap
*.o
enfucraft
enfucraft.pro.user
Makefile
docs/
pagan_board.pro.user
*.swo
*.swp
*.Release
*.Debug
*.debhelper.log
debian/deerportal
MakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
CMakeCache.txt
.vs
out
install_manifest.txt
DeerPortal-*.AppImage
