os:
  - linux
  - osx

compiler:
  - gcc
  - clang

# sudo: required
# dist: trusty
language: cpp
# compiler:
#   - gcc

addons:
  apt:
    packages:
      - libsfml-dev


matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    - os: osx
      osx_image: xcode7.2
# before_script:
#   - sudo apt-get install -y libjpeg62-dev libsndfile1-dev libglew1.5 libglew1.5-dev libfreetype6 libjpeg-turbo8 libjpeg8 libopenal-data libopenal1  libxrandr2 libxrender1 libsoil1 cppcheck libsfml-dev

script:
  lsb_release -a
  qmake -makefile pagan_board.pro && make && make && cppcheck . --enable=all 

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sh scripts/travis_before_install_osx.sh; fi

script:
  - cmake .
  - make
