sudo: required
dist: trusty
language: cpp
compiler:
  - gcc
before_script:
  - sudo apt-get install -y libjpeg62-dev libsndfile1-dev libglew1.5 libglew1.5-dev libfreetype6 libjpeg-turbo8 libjpeg8 libopenal-data libopenal1  libxrandr2 libxrender1 libsoil1 cppcheck libsfml-dev

script: qmake && make && cppcheck . --enable=all 
