[Desktop Entry]
Name=DeerPortal
Comment=Board Game Driven By Classical Elements
Exec=/opt/deerportal/DeerPortal.sh
Icon=/tmp/deerportal/debian/deerportal/usr/share/icons/hicolor/512x512/apps/deerportal.png
Path=/opt/deerportal
Terminal=false
Type=Game
Categories=Game;BoardGame;
