[Desktop Entry]
Name=DeerPortal
Comment=Board Game Driven By Classical Elements
Icon=deerportal
Terminal=false
Type=Application
Categories=Game;BoardGame;
