Source: deerportal
Section: games
Priority: optional
Maintainer: Rafal Zawadzki <bluszcz@devcarpet.net>
Build-Depends: debhelper (>= 8.0.0), qt5-qmake, qt5-default, libsfml-dev
Standards-Version: 3.9.4
Homepage: https://devcarpet.net/deerportal/
#Vcs-Git: git://git.debian.org/collab-maint/deerportal.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/deerportal.git;a=summary

Package: deerportal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A board game driven by the classical elements.
 Deer Portal is a board game where you can experience madness of being ex pagan
 who wants to be become an ancient Deer God. To achieve this, you have to play
 a dreadful game where classical elements are involved. Reach portal or die.
